:root {
    --color1: #CCCCFF55;
    --color2: #6495ED55;
    --color3: #40E0D055;
    --color4: #9FE2BF55;
    --color5: #DE316355;
    --color6: #FF7F5055;
    --color7: #FFBF0055;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-repeat: no-repeat;
    background-size: cover;
}

.cube {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.inner {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.inner:hover{
    animation: turn 5s linear infinite;
}

@keyframes turn {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(1turn);
    }
}

.inner div {
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.inner .front {
    transform: translateZ(173px);
    background-color: var(--color1);
}

.inner .front-left {
    transform: rotateY(-60deg) translateZ(173px);
    background-color: var(--color2);
}

.inner .front-right {
    transform: rotateY(60deg) translateZ(173px);
    background-color: var(--color3);
}

.inner .back {
    transform: translateZ(-173px);
    background-color: var(--color4);
}

.inner .back-left {
    transform: rotateY(-120deg) translateZ(173px);
    background-color: var(--color5);
}

.inner .back-right {
    transform: rotateY(120deg) translateZ(173px);
    background-color: var(--color6);
}

img {
    height: 100%;
}

th, td {
    color: white;
}