* {
    margin: 0;
    padding: 0;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-repeat: no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar {
    display: none;
}

hr {
    margin-bottom: 10px;
}

ol {
    list-style: none;
}

li {
    margin-left: 7px;
}

.ex-text {
    font-family: "돋움", "굴림";
    font-size: 1.2em;
}

#contact li{
    margin-bottom: 15px;
}

#github {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
}

#github:hover {
    -webkit-filter: invert(70%);
    filter: invert(70%);
    animation: hit 1.0s infinite;
}

@keyframes hit {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
}