.container{
    display: flex;
    flex-wrap: wrap; <!-- 화면을 벗어나면 나으 줄러 넘김 -->
    justify-content: space-around; <!-- main축 공백 균등 -->
    align-content: space-around;
    overflow: hidden;
}
.item{
    width: 350px;
    height: 350px;
    margin-bottom: 50px;
    flex-grow: 1; <!-- 화면의 빈 공간을 메워 justify-content로 균등 분배  -->
}
.item img{
    width: 300px;
    height: 300px;
    object-fit: cover; <!-- 이미지의 가로세로비를 맞춤 -->
}
.item h3{
    width: 300px;
    margin: 0px;
}