*{
    margin: 0;
    padding: 0;
}
.box{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 50px;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    background: orange;
}
div > span{
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.2em;
}
.text-hello{
    margin-top: 13px;
    font-weight: bold;
}
.text-x{
    align-self: center;
}